<<<<<<< HEAD

=======
>>>>>>> d9cd8f72472bb00ea7c8ea3782aac09d1b4b0883
body {
  text-align: center;
font-family: Helvetica;
background-image: url(../images/marblebg.jpg);
background-size: cover;
	
}

h1 {

    font-size: 22px;
    text-transform: uppercase;
}

#slogan {

font-size: 16px;
color: #1e4fb3;

}

#passion {

	padding: 40px;

}

hr {
  width: 800px;
}

li {
    display: inline;
   padding: 45px;
}



a {
	text-decoration: none;
	text-transform: uppercase;
	color: #000;

}